#console-interface {
    margin: 20px 0;
    .log-content{
        background: black;
        color: white;
        height: 400px;
        width: 100%;
        overflow-y: scroll;
        font: 8pt/1.25 Monaco, monospace;
        padding: 20px 10px;
        .debug { color: Snow; }
        .info  { color: LawnGreen; }
        .warn  { color: GoldenRod; }
        .error { color: LightCoral; }
        &.light{
            p{
                border-bottom: 1px solid #ccc;
                &::before{
                    color:#000;
                }
            }
        }
        p{
            margin-bottom: .8em;
            margin-bottom: 0.8em;
        
            padding-bottom: 8px;
            &::before{
                content: ">"
            }
        }
    }
   
}