<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="assets/rxjs-logo.png" alt="logo">
        <h1>Rxjs Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Tranform" nzIcon="pic-right">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let tranform of routes.tranforms">
            <a [routerLink]="tranform.url">{{ tranform.name }}</a>
          </li>
         
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Filter" nzIcon="filter">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let filter of routes.filters">
            <a [routerLink]="filter.url">{{ filter.name }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Combination" nzIcon="node-expand">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let combine of routes.combines">
            <a [routerLink]="combine.url">{{ combine.name }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="HOOs" nzIcon="control">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let hoo of routes.hoos">
            <a [routerLink]="hoo.url">{{ hoo.name }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Utility" nzIcon="block">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let utility of routes.utilities">
            <a [routerLink]="utility.url">{{ utility.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
