<p>combine-lasest works!</p>

<button nz-button nzType="primary" style="margin-left:10px" (click)="goal('messi')"><i nz-icon nzType="rocket" nzTheme="outline"></i>Messi Goal</button>
<button nz-button nzType="default" style="margin-left:10px" (click)="complete('messi')"><i nz-icon nzType="check" nzTheme="outline"></i>Messi Complete</button>

<button nz-button nzType="primary" style="margin-left:10px" (click)="goal('ronaldo')"><i nz-icon nzType="rocket" nzTheme="outline"></i>Ronaldo Goal</button>
<button nz-button nzType="default" style="margin-left:10px" (click)="complete('ronaldo')"><i nz-icon nzType="check" nzTheme="outline"></i>Ronaldo Complete</button>

<button nz-button nzType="primary" style="margin-left:10px" (click)="goal('kane')"><i nz-icon nzType="rocket" nzTheme="outline"></i>Kane Goal</button>
<button nz-button nzType="default" style="margin-left:10px" (click)="complete('kane')"><i nz-icon nzType="check" nzTheme="outline"></i>Kane Complete</button>

<app-console-interface></app-console-interface> 